<div class="row">
  <div class="span6 offset3">
  	<div class="well">

      <%= image_tag @pin.image %>
      <p>
         <%= @pin.description %> 
      </p>
      <p>
         <%= @pin.user.name %> 
      </p>
      <% if current_user == @pin.user %> 
        <%= link_to 'Edit', edit_pin_path(@pin) %> |
        <html xmlns:fb="http://ogp.me/ns/fb#">
        <div class="fb-like" data-font="verdana" data-href="http://facebook.com/CDanArt" data-layout="button_count" data-send="true" data-show-faces="false" data-width="120" style="margin: 0px 0px 0px 0px;"></div>
        <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=146351542070012";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
        <% end %>
      <%= link_to 'Back', pins_path %>
      <!-- Indicates a successful or positive action -->
<p>
  <button type="button" class="btn btn-primary btn-lg">Donate</button>
  <button type="button" class="btn btn-default btn-lg">Volunteer</button>
</p>
    </div>
  </div>
</div>